$text-regular: "Gotham", sans-serif;
$text-black: "Gotham Black", sans-serif;
$text-light: "Gotham Light", sans-serif;
$text-thin: "Gotham Thin", sans-serif;
$text-xlight: "Gotham XLight", sans-serif;
$text-book: "Gotham Book", sans-serif;
$text-ultra: "Gotham Ultra", sans-serif;
$spotify-color: #1fdf64;

$light-black: #3e3e3e;
$width-content: calc(100% - 241px);
$height-content: 80px;

.vertical-aligment {
    display: flex;
    align-items: center;
}

.hr {
    border: solid 0.1px rgba(128, 128, 128, 0.418);
    border-bottom: 0;
    margin: 1em 0;
}

.play-widget{
    color: $spotify-color;
    font-size: 3em;
}

.icons-general-styles{
    color: rgba(255, 255, 255, .7);
    font-size: 2.3em;
}