$text-regular: "Gotham", sans-serif;
$text-black: "Gotham Black", sans-serif;
$text-light: "Gotham Light", sans-serif;
$text-thin: "Gotham Thin", sans-serif;
$text-xlight: "Gotham XLight", sans-serif;
$text-book: "Gotham Book", sans-serif;
$text-ultra: "Gotham Ultra", sans-serif;


$light-black: #3E3E3E;
$width-content: calc(100% - 241px);
$height-content: 80px;


.vertical-aligment {
    display: flex;
    align-items: center;
}