@import '../../globals.scss';

.modal-options {
    width: 196px;
    background-color: $light-black;
    position: absolute;
    right: 23px;
    top: 60px;
    display: none;

    & ul {
        padding: 0;
        & li {
            padding: 0.5em 1em;
            list-style: none;
            & a,
            a:hover {
                color: white;
                font-family: $text-regular;
                text-decoration: none;
            }
        }
    }
}
