@import '../../globals.scss';

.player{
    background-color: #181818;
    width: 100%;
    height: 90px;
    position: absolute;
    top: 91vh;
    position: fixed;
    right: 0;
    display: grid;
    grid-template-columns: 3fr 6fr 3fr;

    div{
        justify-self: center;
        align-self: center;
    }

    .player-album-info{
        color: white;        
    }

    .player-controls{
        color: white;
    }

    .player-options{
        color: white;
    }
}